<h1>Articles Tagged with <%= @tag.name %></h1>

<div class="tags">
    <% @tag.articles.each do |article| %>
    <p><%= link_to article.title, article_path(article), class: 'tags__item' %></p>
  <% end %>
</div>
