$primary-color: #7e6985;

.tags {
  // border: 1px solid red;
  margin: 2rem auto;

  &__item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: $primary-color;
    color: white;
    padding: 0.8rem;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 0.5rem;

    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}
